@media (min-width: 768px) {
  .Layout .VPHome {
    padding-bottom: 20px;
  }
}

@media (max-width: 639px) {
  .actions {
    justify-content:space-around;
  }

  .VPButton.brand {
    width: calc(100vw - 48px);
  }
}

.VPHomeHero:not(.has-image) .main .text,
.VPHomeHero:not(.has-image) .main .tagline {
  max-width: inherit;
}

.vpi-social-gitee {
  --icon: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='currentColor'%3E%3Cpath d='M512 1024C229.222 1024 0 794.778 0 512S229.222 0 512 0s512 229.222 512 512-229.222 512-512 512z m259.149-568.883h-290.74a25.293 25.293 0 0 0-25.292 25.293l-0.026 63.206c0 13.952 11.315 25.293 25.267 25.293h177.024c13.978 0 25.293 11.315 25.293 25.267v12.646a75.853 75.853 0 0 1-75.853 75.853h-240.23a25.293 25.293 0 0 1-25.267-25.293V417.203a75.853 75.853 0 0 1 75.827-75.853h353.946a25.293 25.293 0 0 0 25.267-25.292l0.077-63.207a25.293 25.293 0 0 0-25.268-25.293H417.152a189.62 189.62 0 0 0-189.62 189.645V771.15c0 13.977 11.316 25.293 25.294 25.293h372.94a170.65 170.65 0 0 0 170.65-170.65V480.384a25.293 25.293 0 0 0-25.293-25.267z'/%3E%3C/g%3E%3C/svg%3E");
}

.vp-doc table.vp-table {
  display: table;
}

.vp-table {
  width: 100%;
  --indent-x: 0;
}

.vp-doc._openapi_ table {
  margin: 0;
}

.vp-doc._openapi_ .vp-table tbody td:nth-last-child(-n + 2):empty {
  display: none;
}

.vp-table thead th,
.vp-table tbody tr td[rowspan]:first-child {
  white-space: nowrap;
}

.vp-table .indent {
  text-indent: calc(var(--indent-x) * .9em);
}

.vp-table td[class^=req-] {
  position: relative;
}

.vp-table td.req-query:before {
  content: 'Q';
  position: absolute;
  right: 0;
  top: -.5em;
}

.vp-table td.req-query:hover:before {
  content: 'query';
}