@media (min-width: 768px) {
  .Layout .VPHome {
    margin-bottom: 20px;
  }
}

@media (max-width: 639px) {
  .actions {
    justify-content: space-around;
  }

  .actions .action:has(>.VPButton.brand) {
    flex-grow: 1;
  }

  .VPButton.brand {
    width: 100%;
  }

  .VPHomeHero:not(.has-image) .main {
    text-align: center;
  }

  .VPHomeHero:not(.has-image) .main i {
    display: none;
  }

  .im-home .VPHome {
    margin-bottom: 0px;
  }
}

@media (min-width: 960px) {
  .VPSidebar {
    padding-bottom: 0 !important;
  }
}

.im-home {
  --vp-c-bg: transparent;
  --vp-c-gutter: transparent;
  --vp-home-hero-name-color: var(--vp-c-text-1);
  --vp-c-divider: var(--im-gradient-p3);
  --vp-c-bg-soft: rgba(255, 255, 245, .6);
  --im-gradient-p1: #ecd8ff;
  --im-gradient-p2: #e8fca7;
  --im-gradient-p3: #dafbe1;
  --im-gradient-p4: #ffd8b5;
  --im-gradient-p7: #7cad2c1c;
  --im-gradient-p8: #a3e635;
  --im-gradient-p9: #facc15;
  --im-feature-shadow: rgba(0, 0, 0, 0.1);
  --im-feature-shadow-hover: rgba(0, 0, 0, 0.3);
  position: relative;
  background: linear-gradient(-40deg, var(--im-gradient-p1), var(--im-gradient-p2), var(--im-gradient-p3), var(--im-gradient-p4));
  background-size: 120% 120%;
}

.im-home::after {
  content: "\200b";
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(var(--im-gradient-p7) 75%, transparent);
  background-size: 30px 30px;
  z-index: 1;
}

.im-home .VPContent.is-home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: calc(var(--vp-z-index-nav) - 1);
}

.im-home .VPFeature {
  position: relative;
  box-shadow: 0 0.1em 1em 0 var(--im-feature-shadow);
  transition: box-shadow .5s, border-color .25s, background-color .25s;
  font-family: var(--vp-font-family-mono);
}

.im-home .VPFeature .details,
.im-home .VPFooter .copyright {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
}

.im-home .VPFooter .copyright {
  -webkit-line-clamp: 1;
}

.im-home .VPFeature:hover {
  box-shadow: 0 0.1em 1em 0 var(--im-feature-shadow-hover);
}

.im-home .VPFeature::after {
  position: absolute;
  content: "\200b";
  width: 100%;
  height: 3px;
  filter: blur(4px);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--im-gradient-p8) 32%, var(--im-gradient-p9) 68%, rgba(236, 72, 153, 0) 100%);
}

.dark .im-home {
  --im-gradient-p1: #166D3B;
  --im-gradient-p2: #166D3B;
  --im-gradient-p3: #044f1e;
  --im-gradient-p4: #55be07;
  --im-gradient-p7: #bfde0b08;
  --im-gradient-p8: #a535e6;
  --im-gradient-p9: #facc15;
  --im-feature-shadow: rgba(97, 236, 238, 0.2);
  --im-feature-shadow-hover: rgba(97, 236, 238, 0.8);
  --vp-c-bg-soft: rgba(11, 11, 11, .35);
}

.VPHomeHero:not(.has-image) .main i {
  font-style: normal;
  text-decoration: none;
}

.VPHomeHero:not(.has-image) .main .name,
.VPHomeHero:not(.has-image) .main .text,
.VPHomeHero:not(.has-image) .main .tagline {
  max-width: inherit;
}

._guide_ div.language->button.copy {
  display: none;
}

.custom-block.danger.im-deprecated {
  display: flex;
  align-items: center;
}

.custom-block.danger.im-deprecated .custom-block-title {
  font-size: calc(var(--vp-custom-block-font-size, 14px) * 1.3);
  letter-spacing: .25em;
}

._webhook_ table,
._openapi_ table {
  margin: 0;
  width: 100%;
  display: table;
}

._webhook_ thead th,
._openapi_ thead th,
._webhook_ tbody tr td[rowspan]:first-child,
._openapi_ tbody tr td[rowspan]:first-child {
  cursor: default;
  white-space: nowrap;
  padding: 8px 0;
}

._webhook_ tbody tr:not(:hover) td[rowspan],
._openapi_ tbody tr:not(:hover) td[rowspan] {
  background-color: var(--vp-c-bg-soft);
}

._webhook_ tbody tr:hover,
._openapi_ tbody tr:hover,
._webhook_ tbody tr:not(:hover) td[rowspan]:hover,
._openapi_ tbody tr:not(:hover) td[rowspan]:hover {
  background-color: var(--vp-c-green-soft);
}
